:root {
    --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    --bg-gradient-soft-violet: hsl(273, 75%, 66%);
    --bg-gradient-soft-blue: hsl(240, 73%, 65%);
    --divider-light-grayish-blue: hsl(240, 5%, 91%);
    --body-font-size: 12px;
    --footer-font-size: 11px;
    --body-font-weight-light: 400;
    --body-font-weight-bold: 700;
    --main-bg-color: #FFFFFF;
}

* {
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

html {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: linear-gradient(var(--bg-gradient-soft-violet), var(--bg-gradient-soft-blue));
    background-repeat: no-repeat;
    
}

main {
    width: 320px;
    margin-bottom: 16px;
    background-color: var(--main-bg-color);
    border-radius: 16px;
}

.illustration {
    background-position-x: center;
    background-image: url('./images/bg-pattern-mobile.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: 136px;
}

/* picture {
    width: 240px;
    transform: translateY(-110px);
} */

@media screen and (max-width: 1439px) {
    .box-illustration {
        display: none;
    }
}

h1 {
    text-align: center;
    color: var(--text-very-dark-desaturated-blue);
    font-weight: var(--body-font-weight-bold);
    margin-bottom: 24px;
}

.faqs {
    padding-bottom: 32px;
}

details {
    font-size: var(--body-font-size);
    width: 240px;
    margin: auto;
}

hr {
    width: 240px;
    margin: auto;
    color: var(--divider-light-grayish-blue);
}

.questions {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    color: var(--text-very-dark-grayish-blue);
    height: 32px;
}

.questions-view-answer {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    color: var(--text-very-dark-desaturated-blue);
    font-weight: var(--body-font-weight-bold);
}

.arrow-icon {
    justify-self: end;
}

.answers {
    color: var(--text-dark-grayish-blue);
    margin-bottom: 12px;
}

footer {
    font-size: var(--footer-font-size);
    color: var(--main-bg-color);
    font-weight: var(--body-font-weight-light);
    text-align: center;
}

footer a {
    font-weight: var(--body-font-weight-bold);
    text-decoration: none;
    color: var(--main-bg-color);
}

footer a:visited {
    text-decoration: none;
}