:root {
    --text-very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --text-soft-red: hsl(14, 88%, 65%);
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    --bg-gradient-soft-violet: hsl(273, 75%, 66%);
    --bg-gradient-soft-blue: hsl(240, 73%, 65%);
    --divider-light-grayish-blue: hsl(240, 5%, 91%);
    --body-font-size: 12px;
    --footer-font-size: 11px;
    --body-font-weight-light: 400;
    --body-font-weight-bold: 700;
    --main-bg-color: #FFFFFF;
}

* {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
}

html {
    min-height: 100%;
    display: flex;
}

body {
    background: linear-gradient(var(--bg-gradient-soft-violet), var(--bg-gradient-soft-blue));
    margin: auto;
}

main {
    margin-bottom: 16px;
}

.faqs {
    background-color: var(--main-bg-color);
}

h1 {
    text-align: center;
    color: var(--text-very-dark-desaturated-blue);
    margin-bottom: 16px;
}

details {
    font-size: 12px;
}

.questions {
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 40px;
    color: var(--text-very-dark-desaturated-blue);
}

.questions:hover {
    cursor: pointer;
    color: var(--text-soft-red);
}

.questions-toggled {
    font-weight: var(--body-font-weight-bold);
}

svg {
    justify-self: end;
}

.arrow-icon-toggled {
    transform: rotate(180deg);
}

.answers {
    margin-bottom: 16px;
    color: var(--text-very-dark-grayish-blue);
}

hr {
    color: var(--divider-light-grayish-blue);
}

footer {
    font-size: var(--footer-font-size);
    color: var(--main-bg-color);
    font-weight: var(--body-font-weight-light);
    text-align: center;
}

footer a {
    font-weight: var(--body-font-weight-bold);
    text-decoration: none;
    color: var(--main-bg-color);
}

footer a:visited {
    text-decoration: none;
}

@media screen and (max-width: 1439px) {
    main {
        max-width: 320px;
    }

    .box-illustration {
        display: none;
    }

    .illustration {
        /*fills out the parent container*/
        display: flex;
        justify-content: center;
        transform: translateY(72px);
    }

    .illustration > img {
        width: 240px;
    }

    .faqs {
        max-width: 320px;
        padding-top: 120px;
        padding-bottom: 32px;
        border-radius: 16px;
        background-image: url('./images/bg-pattern-mobile.svg');
        background-repeat: no-repeat;
        background-position: center top;
    }

    details, hr {
        width: 240px;
        margin: auto;
    }
}

@media screen and (min-width: 1440px) {
    main {
        display: grid;
        grid-template-columns: auto auto auto;
        align-items: center;
    }

    .box-illustration {
        object-fit: contain;
        z-index: 20;
        margin-right: -80px;
        margin-bottom: -88px;
    }

    .illustration {
        margin-right: -310px;
        z-index: 10;
    }

    .illustration > img {
        /* Fixed image dimension */
        height: 280px;
        object-fit: cover;
        object-position: 100% 50%;
        width: 310px;
    }

    .faqs {
        min-width: 400px;
        padding-top: 56px;
        padding-bottom: 56px;
        padding-left: 320px;
        border-radius: 16px;
        background-image: url('./images/bg-pattern-desktop.svg');
        background-size: cover;
        background-repeat: no-repeat;
        /* Set the height of the 'background-position' property to a %age (proportional) value so as to maintain proportion as the height of its container varies w.r.t how many detail elements are open(ed). */
        background-position: -410px 65%;
    }

    details, hr {
        width: 320px;
        margin: auto;
    }
}